src/mlelec.egg-info/
**/*.ipynb_checkpoints
**/__pycache__*
*/*/*/__pycache__/*
*__pycache__*
*.pt
tmp* 
**/*.pyc
*.pyc
*.code-workspace
*feat*.npz
*.npy
build
*pyc*
examples/data/periodic/c2-cp2k-benchmarks/C2_174.extxyz
examples/data/periodic/carbon_allotropes/feat_5
examples/data/periodic/carbon_allotropes/fermi.dat
examples/data/periodic/carbon_allotropes/model_6700epochs_10structures.ckpt
examples/data/periodic/carbon_allotropes/model_allotropes_baselined_11800.ckpt
examples/data/periodic/carbon_allotropes/centered/kmesh.dat
examples/data/periodic/carbon_allotropes/centered/117/cell_117.xyz
examples/data/periodic/carbon_allotropes/centered/119/cell_119.xyz
examples/data/periodic/carbon_allotropes/centered/120/cell_120.xyz
examples/data/periodic/carbon_allotropes/centered/122/cell_122.xyz
examples/data/periodic/carbon_allotropes/centered/127/cell_127.xyz
examples/data/periodic/carbon_allotropes/centered/132/cell_132.xyz
examples/data/periodic/carbon_allotropes/centered/138/cell_138.xyz
examples/data/periodic/carbon_allotropes/centered/160/cell_160.xyz
examples/data/periodic/carbon_allotropes/centered/162/cell_162.xyz
examples/data/periodic/carbon_allotropes/centered/165/cell_165.xyz
examples/data/periodic/carbon_allotropes/centered/180/cell_180.xyz
examples/data/periodic/carbon_allotropes/centered/188/cell_188.xyz
examples/data/periodic/carbon_allotropes/centered/189/cell_189.xyz
examples/data/periodic/carbon_allotropes/centered/207/cell_207.xyz
examples/data/periodic/carbon_allotropes/centered/221/cell_221.xyz
examples/data/periodic/carbon_allotropes/centered/223/cell_223.xyz
examples/data/periodic/carbon_allotropes/centered/232/cell_232.xyz
examples/data/periodic/carbon_allotropes/centered/244/cell_244.xyz
examples/data/periodic/carbon_allotropes/centered/270/cell_270.xyz
examples/data/periodic/carbon_allotropes/centered/273/cell_273.xyz
examples/data/periodic/carbon_allotropes/centered/303/cell_303.xyz
examples/data/periodic/carbon_allotropes/centered/304/cell_304.xyz
examples/data/periodic/carbon_allotropes/centered/309/cell_309.xyz
examples/data/periodic/carbon_allotropes/centered/320/cell_320.xyz
examples/data/periodic/carbon_allotropes/centered/322/cell_322.xyz
examples/data/periodic/carbon_allotropes/centered/325/cell_325.xyz
examples/data/periodic/carbon_allotropes/centered/341/cell_341.xyz
examples/data/periodic/carbon_allotropes/centered/344/cell_344.xyz
examples/data/periodic/carbon_allotropes/centered/345/cell_345.xyz
examples/data/periodic/carbon_allotropes/centered/356/cell_356.xyz
examples/data/periodic/carbon_allotropes/centered/365/cell_365.xyz
examples/data/periodic/carbon_allotropes/centered/379/cell_379.xyz
examples/data/periodic/carbon_allotropes/centered/380/cell_380.xyz
examples/data/periodic/carbon_allotropes/centered/4/cell_4.xyz
examples/data/periodic/carbon_allotropes/centered/5/cell_5.xyz
examples/data/periodic/carbon_allotropes/centered/6/cell_6.xyz
examples/data/periodic/carbon_allotropes/centered/65/cell_65.xyz
examples/data/periodic/carbon_allotropes/centered/67/cell_67.xyz
examples/data/periodic/carbon_allotropes/centered/90/cell_90.xyz
examples/data/periodic/carbon_allotropes/centered/93/cell_93.xyz
examples/data/periodic/carbon_allotropes/features/all_features
examples/data/periodic/carbon_allotropes/features/overlap_coupled_blocks
examples/data/periodic/carbon_allotropes/features/target_blocks_baselined
examples/data/periodic/carbon_allotropes/features/target_coupled_blocks_baselined
examples/data/periodic/deepH_graphene/wrap/feat_1
examples/data/periodic/deepH_graphene/wrap/feat_2
examples/data/periodic/deepH_graphene/wrap/feat_4
examples/data/periodic/deepH_graphene/wrap/feat_5
examples/data/periodic/deepH_graphene/wrap/feat_3
TRAIN-Copy1.py
train_new_model.py
benzene-deformations.png
benzene_test.py
*yaml
*csv
epoch*
events*
notebooks/features
